<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><img src="./assets/logo.png"></span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
  
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon matBadge="15" matBadgeColor="warn" matBadgePosition="below after">settings</mat-icon>
      </button>


      <button mat-icon-button> <mat-icon>chat_bubble</mat-icon>
    </button>
    <button mat-icon-button> <mat-icon>notifications</mat-icon></button>
    
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-menu #menu="matMenu" >
  <button mat-menu-item>
    <mat-icon>face</mat-icon>
    <span>View your profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit your profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>