
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your password" [(ngModel)]="password"type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>
    <a routerLink="/reset_password">Forgot your password?</a>

    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Login</button>
  </mat-card-actions>

</mat-card>

<br>

<mat-card class="example-card">
  <p>Don't have an account?</p>
    <button routerLink="/register" mat-raised-button color="primary">Sign up</button>

</mat-card>